:root {
    --bg-color-light: #ffffff;
    --text-color-light: #000000;
    --bg-color-dark: #1e1e1e;
    --text-color-dark: #ffffff;
    --primary-color: #50c878;
    --secondary-color: #888;
}

body.light-mode {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.mode-text {
    font-size: 0.875rem;
    color: white;
    position: absolute;
    margin-left: 14px;
    z-index: 1;
    pointer-events: none; /* Ensures the text doesn't block click events */
}

input:checked + .slider {
    background-color: #444;
}

input:checked + .slider:before {
    transform: translateX(45px);
}

input:checked + .slider .mode-text {
    content: "Dark Mode";
    color: #999;
    transform: translateX(-15px); /* Adjust position of the text */
}

/* Calendar styling */
.calendar {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.calendar-item {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

body.dark-mode .calendar-item {
    background-color: var(--bg-color-dark);
    border-color: #444;
}

.expanded {
    background-color: #d5ffd5;
    height: 150px;
}

body.dark-mode .expanded {
    background-color: #444444;
}

.normal {
    height: 6px;
}

.current-hour {
    font-size: 0.875rem;
    color: var(--primary-color);
    position: absolute;
    right: 8px;
    top: 5px;
    transform: translateY(0);
}

.font-semibold {
    font-weight: 600;
    margin-right: 16px;
    color: var(--text-color-light); /* Light mode text color */
}

body.dark-mode .font-semibold {
    color: var(--text-color-dark); /* Dark mode text color */
}

.schedule-details {
    font-size: 0.875rem;
    text-align: left;
    color: var(--text-color-light); /* Light mode text color */
}

body.dark-mode .schedule-details {
    color: var(--text-color-dark); /* Dark mode text color */
}

.secondary-text {
    font-size: 0.875rem;
    color: var(--secondary-color);
    margin-left: 16px;
}

body.dark-mode .secondary-text {
    color: #aaaaaa;
}
